<section class="section about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6" style="margin-bottom: 18rem">
        <div class="section-meta">
          <span class="section-deco"></span>
          <span class="section-label">{{ label }}</span>
        </div>
        <h2 class="h1">{{ title }}</h2>
        <p>{{ text }}</p>
      </div>
      <div class="col-12 col-md-4 offset-md-8">
        <blockquote class="blockquote text-right">
        <p class="mb-0 font-italic small">{{ quote.text }}</p>
        <footer class="blockquote-footer">{{ quote.footer }} <cite title="Source Title">{{ quote.author }}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>