<address class="mb-5">
  <p class="small">
    {{ street }}, {{ number }}, {{ floor }}
    <br />
    {{ city }}, {{ postal_code }}
    <br />
    <br />
    {{ phone }}
    <br />
    <span class="font-weight-bold">{{ email }}</span>
  </p>
</address>